@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Roots
========================================================================== */
:root {
  --content-width: 1140px;
  --gap: 20px;
  --column-padding: 10px;

  --primary-color: #9538e2;
  --heading-color: #0b0b0b;
  --text-color: rgb(9, 8, 15, 0.6);
  --border-color: rgb(9, 8, 15, 0.1);
  --bg-color: #f7f7f7;
  --accent-color: #e7fe29;

  --primary-font: 'Sora', sans-serif;
}

/* Global CSS Style
========================================================================== */
* {
  transition: all 0.2s;
  font-family: var(--primary-font);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

/*
* Sections and columns Structure ---------
*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--content-width);
}
.row-full {
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-width);
  gap: var(--gap);
  padding: var(--column-padding);
}

/*
* Text Styles ---------
*/
.heading {
  color: var(--heading-color);
  line-height: 1.4em;
  margin: 0;
  font-weight: 700;
}

h1.heading {
  font-size: clamp(30px, calc((45 - 30) * ((100vw - 360px) / (1140 - 360)) + 30px), 45px);
}

h2.heading {
  font-size: clamp(25px, calc((35 - 25) * ((100vw - 360px) / (1140 - 360)) + 25px), 35px);
}

h3.heading {
  font-size: clamp(20px, calc((24 - 20) * ((100vw - 360px) / (1140 - 360)) + 20px), 24px);
  line-height: 1.5em;
}

h4.heading {
  font-size: clamp(17px, calc((20 - 17) * ((100vw - 360px) / (1140 - 360)) + 17px), 20px);
  line-height: 1.5em;
}

h5.heading {
  font-size: clamp(16px, calc((18 - 16) * ((100vw - 360px) / (1140 - 360)) + 16px), 18px);
  line-height: 1.5em;
}

.text {
  color: var(--text-color);
  font-size: clamp(14px, calc((16 - 14) * ((100vw - 360px) / (1200 - 360)) + 14px), 16px);
  line-height: 1.6em;
  margin: 0;
}
.text-gap {
  margin-bottom: 15px;
}

img {
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  margin: 0;
}

/* Buttons */
.button {
  background: var(--primary-color);
  color: white;
  font-size: clamp(17px, calc((20 - 17) * ((100vw - 360px) / (1200 - 360)) + 17px), 20px);
  font-weight: 700;
  border-radius: 12px;
  padding: 14px 32px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 576px) {
  .row:not(.exclude) {
    flex-direction: column;
  }
}

/* Custom CSS Style
========================================================================== */
/* --- Header --- */
.home .header-menu {
  color: white;
}

.header-menu a:hover,
.header-menu a.active {
  font-weight: 700;
  text-decoration: underline;
}

/* --- Home --- */
.tablinks {
  border-radius: 200px;
  width: 100%;
  padding: 16px 0;
  background-color: var(--bg-color);
  font-weight: bold;
}

.tablinks.active {
  background-color: var(--primary-color);
  color: white;
}

/* --- Footer --- */
.footer-nav a:hover {
  color: var(--primary-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
